
.cbx-container,
body {
    margin: 0 auto
}

a,
a:focus,
a:hover {
    text-decoration: none
}

html {
    font-size: 62.5%
}

body {
    padding: 0;
    font-family: Exo, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 1.4rem;
    line-height: 2.0999999999999996rem;
    line-height: normal
}

.cbx-content,
.cbx-heading h2,
p {
    font-family: 'Open Sans', Arial, sans-serif
}

.cbx-content,
p {
    font-size: 1.4rem;
    line-height: 2.0999999999999996rem
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Exo, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0
}

a {
    color: #1c9cf4
}

a:focus,
a:hover {
    color: #054571;
    outline: 0
}

img {
    max-width: 100%
}

iframe {
    width: 100%
}

.span-color {
    color: #0972ba
}

.uppercase {
    text-transform: uppercase
}

.cbx-heading {
    margin: 0 auto;
    width: 85%
}

.cbx-heading h2 {
    font-weight: 300;
    font-size: 4.5rem;
    line-height: 6.75rem;
    margin-bottom: 30px;
    color: #777;
    margin-top: 120px
}

.cbx-heading p,
.cbx-regiter-common a,
.cbx-regiter-common button {
    font-weight: 400;
    font-family: 'Open Sans', Arial, sans-serif
}

.cbx-heading p {
    font-size: 1.7rem;
    line-height: 2.55rem;
    line-height: 30px;
    margin-bottom: 80px;
    color: #777
}

.cbx-regiter-common a,
.cbx-regiter-common button {
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 2.4000000000000004rem;
    background: 0 0;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 8px 35px;
    color: #fff;
    -webkit-transition: all .2 ease;
    transition: all .6s linear
}

.cbx-regiter-common a:focus,
.cbx-regiter-common button:focus {
    outline: 0
}

.cbx-regiter-common a:hover,
.cbx-regiter-common button:hover {
    background: #0972ba
}

::-webkit-input-placeholder {
    color: #1c9cf4
}

#cbx-header {
    background: url(../img/header-bg.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff
}

#cbx-header .cbx-inner {
    background: rgba(1, 95, 79, .4);
    padding-top: 16px;
    padding-bottom: 90px
}

#cbx-header .cbx-navbar {
    background: rgba(1, 95, 79, .4);
    border-bottom: none;
    border-color: #054571;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 15px
}

#cbx-header .navbar-toggle .icon-bar {
    background-color: #fff
}

#cbx-header .menu-onscroll {
    background: #222;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 15px;
    border: 1px solid #222;
    border-bottom-color: #0972ba;
    box-shadow: 0 0 4px 0 #054571;
    -webkit-transition: all .3 ease;
    transition: all .3s linear
}

#cbx-header .logo h2 a {
    font-size: 3.5rem;
    line-height: 5.25rem;
    color: #fff
}

#cbx-header .logo h2 a span {
    color: #1c9cf4
}

#cbx-header .cbx-nav {
    background: 0 0;
    border: none;
    box-shadow: none
}

#cbx-header .cbx-nav-right li a {
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #f1f1f1;
    -webkit-transition: all .2 ease;
    transition: all .4s linear;
    text-transform: uppercase;
    padding: 15px 5px;
    margin: 0 5px
}

#cbx-header .cbx-nav-right li a:active,
#cbx-header .cbx-nav-right li a:hover {
    color: #0972ba
}

#cbx-header .cbx-header-content h4 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 6rem;
    margin-top: 80px
}

#cbx-header .cbx-header-content h1 {
    font-weight: 900;
    font-size: 5.5rem;
    line-height: 8.25rem
}

#cbx-header .cbx-header-content h5 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.5999999999999996rem
}

#cbx-header .cbx-countdown p,
#cbx-header .cbx-header-content p {
    font-weight: 400;
    font-family: 'Open Sans', Arial, sans-serif
}

#cbx-header .cbx-countdown p,
#cbx-header .cbx-header-content p,
.cbx-map-text {
    font-size: 1.6rem;
    line-height: 2.4000000000000004rem
}

#cbx-header .cbx-header-content p {
    margin-top: 80px;
    margin-bottom: 20px
}

#cbx-header .cbx-countdown p {
    margin-top: 40px
}

.cbx-map-text {
    background: #0972ba;
    padding: 5px 10px;
    width: 250px;
    color: #fff
}

#map_canvas {
    height: 400px
}

#map_canvas img {
    max-width: none
}

.lz-map {
    margin-top: 60px;
    text-align: center
}

#cbx-contact .cbx-inner {
    padding-bottom: 40px
}

#cbx-contact .cbx-contact-form input {
    height: 45px;
    border-radius: 0;
    background: #f1f1f1;
    border: 2px solid #0972ba;
    -webkit-transition: all .2 ease;
    transition: all .7s linear
}

#cbx-contact .cbx-contact-form input:focus,
#cbx-contact .cbx-contact-form input:hover {
    background: #fff;
    border: 2px solid #777
}

#cbx-contact .cbx-contact-form textarea {
    height: 200px;
    border-radius: 0;
    background: #f1f1f1;
    border: 2px solid #0972ba;
    -webkit-transition: all .2 ease;
    transition: all .7s linear
}

#cbx-contact .cbx-contact-form textarea:focus,
#cbx-contact .cbx-contact-form textarea:hover {
    background: #fff;
    border: 2px solid #777
}

#cbx-contact .cbx-send-button {
    margin-top: 20px
}

#cbx-contact .cbx-send-button button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.7rem;
    line-height: 2.55rem;
    background: #0972ba;
    color: #fff;
    padding: 10px 30px;
    border: 0;
    text-transform: uppercase;
    -webkit-transition: all .2 ease;
    transition: all .6s linear
}

#cbx-contact .cbx-send-button button:hover {
    background: #054571;
    color: #1c9cf4
}

.location-bottomcontent {
    font-weight: 700;
    padding: 16px 20px;
    font-size: 2rem;
    line-height: 3rem
}

.location-bottomcontent .modal {
    color: #777;
    font-size: 1.6rem;
    line-height: 2.4000000000000004rem;
    text-transform: uppercase
}

.location-bottomcontent h2 {
    font-size: 4rem;
    line-height: 6rem;
    color: #222;
    border-right: 2px solid #222;
    margin-top: 9px;
    padding-right: 34px
}

.location-bottomcontent .address {
    padding-left: 20px
}

.location-bottomcontent .address i {
    color: #f1f1f1;
    padding-right: 10px;
    font-size: 3rem;
    line-height: 4.5rem
}

.location-bottomcontent .address span {
    color: #222
}

.location-bottomcontent button {
    margin-top: 23px;
    background: #054571;
    border: 2px solid #222;
    border-radius: 30px;
    color: #fff;
    outline: 0;
    padding: 9px 34px;
    -webkit-transition: all .3 ease;
    transition: all .3s linear
}

.location-bottomcontent button:focus,
.location-bottomcontent button:hover {
    outline: 0;
    background: #fff;
    color: #0972ba;
    border: 2px solid #054571
}

.location-bottomcontent li:first-child {
    font-size: 4rem;
    line-height: 6rem;
    color: #222;
    border-right: 1px solid #222
}

#cbx-memoris .cbx-single-memoris {
    padding: 0
}

#cbx-memoris .single-memoris {
    margin: 0 -15px;
    background: #0972ba
}

#cbx-memoris .single-memoris figure {
    position: relative
}

#cbx-memoris .single-memoris figure figcaption {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none
}

#cbx-memoris .single-memoris figure figcaption a i {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 42%;
    font-size: 4rem;
    line-height: 6rem
}

#cbx-memoris .single-memoris figure:hover figcaption {
    background: rgba(2, 171, 141, .9);
    display: block
}

#cbx-memoris .fig-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

#cbx-memoris .fig-content span {
    display: block;
    clear: both
}

#cbx-memoris .fig-content span i {
    color: #0972ba
}

#cbx-register .cbx-single-pricing {
    background: #f1f1f1;
    margin-bottom: 70px;
    color: #777
}

#cbx-register .cbx-single-pricing h4 {
    padding-top: 20px
}

#cbx-register .cbx-single-pricing h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 4.5rem;
    line-height: 6.75rem;
    padding-bottom: 15px
}

#cbx-register .cbx-single-pricing h1 span {
    font-family: Exo, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 6rem
}

#cbx-sponsored .sponsored-heading h4,
#cbx-subscriber h3,
.cbx-schedule .cbx-single-tab h3,
.cbx-schedule .cbx-single-tab h5,
.cbx-schedule .cbx-single-tab span a,
.cbx-schedule .cbx-tab .nav-pills>li>a {
    font-family: 'Open Sans', Arial, sans-serif
}

#cbx-register .cbx-recommend-pricing {
    background: #0972ba;
    color: #f1f1f1
}

#cbx-register .cbx-recommend-pricing h1 span {
    color: #fff
}

#cbx-register .cbx-nocommend-pricing span {
    color: #0972ba
}

#cbx-registerinner {
    background: url(../img/register-bg.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff
}

#cbx-registerinner .registerinner {
    background: rgba(119, 119, 119, .85);
    padding-bottom: 90px
}

#cbx-registerinner .cbx-form-area input {
    background: rgba(119, 119, 119, .7);
    height: 45px;
    border-radius: 0;
    border: 1px solid #f1f1f1;
    -webkit-transition: all .2 ease;
    transition: all .5s linear
}

#cbx-registerinner .cbx-form-area input:focus {
    background: #f1f1f1
}

#cbx-registerinner .cbx-form-area textarea {
    background: rgba(119, 119, 119, .7);
    border-radius: 0;
    border: 1px solid #f1f1f1;
    height: 185px;
    -webkit-transition: all .2 ease;
    transition: all .9s linear
}

#cbx-registerinner .cbx-form-area textarea:focus {
    background: #f1f1f1
}

#cbx-registerinner .cbx-selectpicker {
    color: #1c9cf4;
    height: 45px;
    width: 100%;
    background: rgba(119, 119, 119, .7);
    border: 1px solid #f1f1f1
}

#cbx-registerinner .cbx-selectpicker:focus {
    background: #f1f1f1
}

#cbx-registerinner select {
    padding-left: 10px
}

#cbx-registerinner .cbx-form-area {
    margin-top: 70px
}

#cbx-registerinner .cbx-regiter-button button {
    background: #f1f1f1;
    color: #0972ba;
    -webkit-transition: all .2 ease;
    transition: all .5s linear
}

#cbx-registerinner .cbx-regiter-button button:hover {
    background: #777;
    color: #fff
}

#cbx-registerinner .cbx-submit-title {
    padding-bottom: 50px
}

#cbx-registerinner .cbx-submit-title h3 {
    color: #f1f1f1;
    font-weight: 700;
    font-size: 3rem;
    line-height: 4.5rem
}

#cbx-registerinner .cbx-submit-title h3 span {
    color: #fff
}

.cbx-schedule .cbx-tab {
    background: #f1f1f1
}

.cbx-schedule .cbx-tab .nav-pills>li.active>a,
.cbx-schedule .cbx-tab .nav-pills>li.active>a:focus,
.cbx-schedule .cbx-tab .nav-pills>li.active>a:hover {
    background-color: #f1f1f1;
    color: #0972ba;
    border-radius: 0
}

.cbx-schedule .cbx-tab .nav-pills>li>a {
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem
}

.cbx-schedule .cbx-tab .nav-pills>li>a span {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.0999999999999996rem
}

.cbx-schedule .cbx-tab ul {
    background: #0972ba
}

.cbx-schedule .cbx-tab .cbx-tab-content:active,
.cbx-schedule .cbx-tab ul li {
    display: inline-block;
    float: none
}

.cbx-schedule .cbx-single-tab {
    margin: 30px auto 0;
    max-width: 70%
}

.cbx-schedule .cbx-single-tab span {
    padding: 0 10px;
    text-transform: uppercase
}

.cbx-schedule .cbx-single-tab span a {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.0999999999999996rem;
    color: #777
}

.cbx-schedule .cbx-single-tab span i {
    color: #0972ba;
    padding: 0 2px
}

.cbx-schedule .cbx-single-tab h3 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3rem;
    padding-top: 24px;
    padding-bottom: 3px
}

.cbx-schedule .cbx-single-tab h5 {
    font-weight: 400;
    padding-bottom: 24px;
    font-size: 1.4rem;
    line-height: 2.0999999999999996rem
}

.cbx-schedule .cbx-single-tab p {
    padding-bottom: 24px
}

.cbx-schedule .cbx-single-tab hr {
    border-width: 1px;
    border-color: #fff;
    width: 70%
}

.cbx-schedule .more span {
    position: relative;
    background: #0972ba;
    color: #f1f1f1;
    padding: 5px 25px 5px 15px;
    -webkit-transition: all .2 ease;
    transition: all .6s linear
}

.cbx-schedule .more span i {
    position: absolute;
    top: 8px;
    right: 5px;
    color: #f1f1f1
}

.cbx-schedule .more span:hover {
    background: #054571
}

.cbx-schedule .more span:hover i {
    right: 2px
}

#cbx-speakers .sp-single-img-area {
    position: relative
}

#cbx-speakers .sp-single-img-area h2 {
    background: rgba(2, 171, 141, .8);
    color: #fff;
    padding: 3px 16px;
    left: 0;
    position: absolute;
    font-size: 2.4rem;
    line-height: 3.5999999999999996rem
}

#cbx-speakers .speaker_text h3 {
    margin-top: 16px;
    color: #fff
}

#cbx-speakers .speaker_text h4 {
    color: #f1f1f1;
    margin-bottom: 20px
}

#cbx-speakers .speaker_text ul li {
    background: #054571;
    height: 40px;
    width: 40px;
    margin-top: 20px
}

#cbx-speakers .speaker_text ul li:hover {
    background: #1c9cf4;
    color: #054571
}

#cbx-speakers .speaker_text ul li i {
    font-size: 2.4rem;
    line-height: 3.5999999999999996rem;
    padding-left: 5px;
    padding-top: 2px
}

#cbx-speakers .speaker_masterimg {
    float: left;
    margin-right: 10px
}

#cbx-speakers .kwicks,
#cbx-speakers .kwicks>li {
    height: 420px
}

#cbx-speakers .kwicks>li .speakers .speaker_text,
#cbx-speakers .kwicks>li .speakers .speaker_verticalimg {
    display: none
}

#cbx-speakers .kwicks>li.kwicks-expanded .speaker_photo {
    float: left;
    display: inline-block;
    margin-right: 10px
}

#cbx-speakers .kwicks>li.kwicks-expanded .speaker_text {
    display: block;
    padding: 10px 10px 10px 0;
    color: #fff
}

#cbx-speakers .kwicks>li.kwicks-collapsed .speakers .speaker_intro,
#cbx-speakers .kwicks>li.kwicks-expanded .sp-single-img-area h2 {
    display: none
}

#cbx-speakers .kwicks>li.kwicks-collapsed .speakers .speaker_verticalimg {
    display: block;
    width: 100%
}

#cbx-speakers #panel-1,
#cbx-speakers #panel-2,
#cbx-speakers #panel-3,
#cbx-speakers #panel-4 {
    background-color: #0972ba
}

#cbx-sponsored {
    background: url(../img/sp-bg.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff
}

#cbx-sponsored .cbx-inner {
    background: rgba(1, 95, 79, .8);
    padding-bottom: 130px
}

#cbx-sponsored .sponsored-heading h4 {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.3000000000000003rem;
    color: #777;
    padding-bottom: 10px;
    padding-top: 70px
}

#cbx-sponsored .single-sponsored {
    padding-top: 25px
}

#cbx-sponsored .cbx-heading p {
    margin-bottom: 10px
}

#cbx-sponsored .span-ash-light {
    color: #f1f1f1
}

#cbx-sponsored .span-light,
#cbx-sponsored p {
    color: #1c9cf4
}

#cbx-subscriber .cbx-inner {
    background: #222;
    padding: 40px 0
}

#cbx-subscriber h3 {
    font-weight: 300;
    font-size: 3rem;
    line-height: 4.5rem;
    color: #fff
}

#cbx-subscriber .cbx-subscriber {
    margin-top: 15px
}

#cbx-subscriber .cbx-subscriber input {
    border-radius: 0;
    border: 1px solid #0972ba;
    background: #777;
    height: 45px
}

#cbx-subscriber .cbx-subscriber button {
    background: #0972ba;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 12px 32px
}

#cbx-subscriber .cbx-subscriber button:hover {
    background: #054571;
    color: #1c9cf4
}

.cbx-testimonials {
    background: #f1f1f1
}

.cbx-testimonials .cbx-single-people small,
.cbx-testimonials i:hover {
    color: #0972ba
}

.cbx-testimonials .quote-carousel {
    padding: 0 10px 60px;
    margin-top: 30px
}

.cbx-testimonials .quote-carousel:hover .carousel-control {
    display: block
}

.cbx-testimonials .quote-carousel .carousel-control {
    background: 0 0;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
    display: none
}

.cbx-testimonials .quote-carousel .carousel-control.left {
    left: -60px
}

.cbx-testimonials .quote-carousel .carousel-control.right {
    right: -60px
}

.cbx-testimonials .quote-carousel .carousel-indicators {
    right: 50%;
    top: 155px;
    bottom: 0;
    margin-right: -19px
}

.cbx-testimonials .quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 2px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: .4;
    overflow: hidden;
    transition: all .4s
}

.cbx-testimonials .quote-carousel .carousel-indicators li img {
    border-radius: 50px
}

.cbx-testimonials .quote-carousel .carousel-indicators .active {
    background: #333;
    width: 62px;
    height: 62px;
    border-radius: 100px;
    border-color: #0972ba;
    opacity: 1;
    overflow: hidden
}

.cbx-testimonials .carousel-inner {
    min-height: 300px
}

.cbx-testimonials .item blockquote {
    border-left: none;
    margin: 0
}

.cbx-testimonials .item blockquote p:before {
    content: "\f10d";
    font-family: Fontawesome;
    float: left;
    margin-right: 10px;
    color: #0972ba
}

#cbx-singlespeaker .sp-title h3,
#cbx-singlespeaker .sp-title h4,
#cbx-travelinfo .single-hotleinfo h3,
#cbx-travelinfo .single-hotleinfo p,
#cbx-venueinner #cbx-modal-body p {
    font-family: 'Open Sans', Arial, sans-serif
}

#cbx-travelinfo {
    background: #054571;
    padding-bottom: 90px
}

#cbx-travelinfo .cbx-heading span {
    color: #1c9cf4
}

#cbx-travelinfo .cbx-heading h2,
#cbx-travelinfo .cbx-heading p {
    color: #f1f1f1
}

#cbx-travelinfo .single-hotleinfo {
    margin-bottom: 40px
}

#cbx-travelinfo .single-hotleinfo figure {
    position: relative
}

#cbx-travelinfo .single-hotleinfo figure figcaption {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none
}

#cbx-travelinfo .single-hotleinfo:hover figcaption {
    background: rgba(241, 241, 241, .2);
    display: block
}

#cbx-travelinfo .single-hotleinfo h3 {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.5999999999999996rem;
    color: #f1f1f1
}

#cbx-travelinfo .single-hotleinfo h3 i {
    color: #1c9cf4
}

#cbx-travelinfo .single-hotleinfo p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.0999999999999996rem;
    color: #f1f1f1;
    padding-top: 10px
}

#cbx-travelinfo .single-hotleinfo p span:hover {
    color: #1c9cf4!important
}

#cbx-venueinner {
    background: url(../img/venue.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff
}

#cbx-venueinner .cbx-inner {
    background: rgba(2, 171, 141, .6)
}

#cbx-venueinner #cbx-modal-body {
    background: #054571
}

#cbx-venueinner #cbx-modal-body p {
    padding-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: lowercase;
    line-height: 26px;
    color: #fff
}

#cbx-venueinner .cbx-venue-content a {
    color: #1c9cf4;
    -webkit-transition: all .2 ease;
    transition: all .9s linear
}

#cbx-venueinner .cbx-venue-content a i {
    font-size: 11rem;
    line-height: 16.5rem;
    padding: 15%
}

#cbx-venueinner .cbx-venue-content a:hover {
    color: #222
}

#cbx-venueinner .cbx-modal-header a {
    background: 0 0!important;
    border: none!important
}

.venue-bottomcontent {
    background: rgba(2, 171, 141, .7);
    font-weight: 700;
    padding: 16px 20px;
    font-size: 2rem;
    line-height: 3rem
}

.venue-bottomcontent .modal {
    color: #777;
    font-size: 1.6rem;
    line-height: 2.4000000000000004rem;
    text-transform: uppercase
}

.venue-bottomcontent h2 {
    font-size: 4rem;
    line-height: 6rem;
    color: #222;
    border-right: 2px solid #222;
    margin-top: 9px;
    padding-right: 34px
}

.venue-bottomcontent .address {
    padding-left: 20px
}

.venue-bottomcontent .address i {
    color: #f1f1f1;
    padding-right: 10px;
    font-size: 3rem;
    line-height: 4.5rem
}

.venue-bottomcontent .address span {
    color: #222
}

.venue-bottomcontent button {
    margin-top: 23px;
    background: #054571;
    border: 2px solid #222;
    border-radius: 30px;
    color: #fff;
    outline: 0;
    padding: 9px 34px;
    -webkit-transition: all .2 ease;
    transition: all .4s linear
}

.venue-bottomcontent button:focus,
.venue-bottomcontent button:hover {
    outline: 0;
    background: #fff;
    color: #0972ba;
    border: 2px solid #054571
}

.venue-bottomcontent li:first-child {
    font-size: 4rem;
    line-height: 6rem;
    color: #222;
    border-right: 1px solid #222
}

#cbx-singlespeaker {
    background: #f1f1f1
}

#cbx-singlespeaker .cbx-inner {
    padding-bottom: 110px
}

#cbx-singlespeaker header {
    margin-top: 130px
}

#cbx-singlespeaker .speaker-img figure {
    position: relative
}

#cbx-singlespeaker .speaker-img figure figcaption {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: none
}

#cbx-singlespeaker .speaker-img:hover figcaption {
    background: rgba(1, 95, 79, .5);
    display: block
}

#cbx-singlespeaker .sp-title {
    margin-top: 30px
}

#cbx-singlespeaker .sp-title h3 {
    font-weight: 600;
    margin-bottom: 30px
}

#cbx-singlespeaker .sp-title h2 {
    color: #0972ba;
    margin-bottom: 10px
}

#cbx-singlespeaker .sp-title h4 {
    font-weight: 300
}

#cbx-singlespeaker .sp-title ul {
    margin-bottom: 50px
}

#cbx-singlespeaker .sp-title ul li {
    background: #d4d4d4;
    height: 40px;
    width: 40px;
    margin-top: 15px
}

#cbx-singlespeaker .sp-title ul li:hover {
    background: #f1f1f1;
    color: #054571
}

#cbx-singlespeaker .sp-title ul li:hover i {
    color: #054571
}

#cbx-singlespeaker .sp-title ul li i {
    color: #fff;
    font-size: 2.4rem;
    line-height: 3.5999999999999996rem;
    padding-left: 5px;
    padding-top: 2px
}

#cbx-singlespeaker .sp-details .sp-quotation,
#cbx-singlespeaker .sp-details h4,
#cbx-singlespeaker .sp-details p,
#cbx-singlespeaker .sp-title p {
    color: #777;
    font-family: 'Open Sans', Arial, sans-serif
}

#cbx-singlespeaker .sp-title p {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.55rem
}

#cbx-singlespeaker .sp-details {
    margin-top: 50px
}

#cbx-singlespeaker .sp-details h4 {
    font-size: 2.4rem;
    line-height: 3.5999999999999996rem;
    margin-bottom: 20px
}

#cbx-singlespeaker .sp-details p {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 20px;
    line-height: 28px
}

#cbx-singlespeaker .sp-details .sp-quotation {
    background: #fff;
    padding: 15px 10px;
    font-size: 1.7rem;
    line-height: 2.55rem;
    font-weight: 600;
    font-style: italic
}

#cbx-singlespeaker .sp-details .sp-quotation i {
    font-size: 2rem;
    line-height: 3rem;
    color: #0972ba
}

#cbx-footer .cbx-top-inner .cbx-top a i,
#cbx-footer .cbx-top-inner .cbx-top a p {
    color: #fff;
    font-size: 2rem;
    line-height: 3rem
}

#cbx-footer .cbx-inner {
    background: #222
}

#cbx-footer .cbx-top-inner {
    position: relative
}

#cbx-footer .cbx-top-inner .cbx-top {
    font-weight: 700;
    padding: 3px 6px;
    position: absolute;
    right: 10px;
    bottom: 0;
    background: #0972ba
}

#cbx-footer .cbx-top-inner .cbx-top a p {
    text-transform: uppercase
}

#cbx-footer .cbx-top-inner .cbx-top:hover {
    background: #054571;
    color: #1c9cf4
}

#cbx-footer .footer-content {
    color: #f1f1f1;
    padding-top: 15px
}

#cbx-footer .footer-content .cbx-copy-symbol {
    font-size: 1.8rem;
    line-height: 2.7rem
}

#cbx-footer .footer-content p {
    color: #777
}

#cbx-footer .footer-social ul li {
    border: 1px solid #0972ba;
    height: 30px;
    padding-right: 7px;
    padding-top: 3px;
    width: 30px
}

#cbx-footer .footer-social ul li:hover {
    background: #0972ba;
    color: #fff
}

#cbx-footer .footer-social ul li a i {
    margin-top: 3px;
    font-size: 16px
}

#cbx-countdown {
    background: url(../img/count-bg.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff
}

#cbx-countdown .cbx-inner {
    background: rgba(34, 34, 34, .9);
    padding: 100px 0
}

#cbx-countdown .countdown-text {
    font-family: 'Open Sans', Arial, sans-serif
}

#cbx-countdown .countdown-text .count-tilte {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    line-height: 4.5rem;
    color: #fff;
    margin-bottom: 50px
}

.lz-circular-countdown-container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%)
}

.lz-circular-clock-item .lz-circular-inner {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%
}

.lz-circular-clock-canvas {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 50%;
    height: 0;
    padding-bottom: 100%
}

.lz-circular-text {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    top: 40%;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    width: 100%
}

.lz-circular-text .lz-circular-val {
    font-size: 45px;
    font-weight: 300;
    font-family: 'Open Sans', Arial, sans-serif
}

.lz-circular-text .lz-circular-type-time {
    font-size: 20px
}

@media (min-width:768px) and (max-width:991px) {
    .lz-circular-text {
        top: 35%
    }
    .lz-circular-text .lz-circular-val {
        font-size: 35px
    }
    .lz-circular-text .lz-circular-type-time {
        font-size: 15px
    }
}

@media (max-width:767px) {
    .lz-circular-text .lz-circular-val {
        font-size: 25px;
        font-weight: 300;
        font-family: 'Open Sans', Arial, sans-serif
    }
    .lz-circular-text .lz-circular-type-time {
        font-size: 15px
    }
    .lz-circular-clock-canvas {
        visibility: hidden
    }
    .lz-col-item-title,
    .lz-col-item-title:hover {
        text-align: center
    }
    .lz-circular-text {
        top: 25%;
        font-size: 20px
    }
}

@media (max-width:480px) {
    .lz-countdown-container .col-xs-3 {
        width: 25%;
        float: left;
        margin: 0 auto
    }
    .lz-countdown-container .lz-cd-background {
        border: none
    }
    .lz-countdown-container .lz-overlap {
        font-size: 10px
    }
    .lz-countdown-container .lz-cd-number {
        height: 50px
    }
    .lz-countdown-container .lz-cd-number .digit {
        font-size: 25px
    }
    .lz-circular-text {
        margin-top: -32px
    }
    .lz-circular-text .lz-circular-val {
        font-size: 20px
    }
    .lz-circular-text .lz-circular-type-time {
        font-size: 12px
    }
}

.mfp-arrow-left {
    left: 0
}

.mfp-arrow-left .mfp-a,
.mfp-arrow-left:after {
    border-right: 17px solid #0972ba;
    margin-left: 31px
}

.mfp-arrow-left .mfp-b,
.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #1c9cf4
}

.mfp-arrow-right {
    right: 0
}

.mfp-arrow-right .mfp-a,
.mfp-arrow-right:after {
    border-left: 17px solid #0972ba;
    margin-left: 39px
}

.mfp-arrow-right .mfp-b,
.mfp-arrow-right:before {
    border-left: 27px solid #1c9cf4
}

.mfp-iframe-holder .mfp-close,
.mfp-image-holder .mfp-close {
    color: #0972ba;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%
}

@media only screen and (min-width:1900px) {
    #cbx-header .cbx-header-content h4 {
        font-size: 6rem;
        line-height: 9rem;
        margin-top: 169px
    }
    #cbx-header .cbx-header-content h1 {
        font-size: 7.8rem;
        line-height: 11.7rem;
        line-height: 120px
    }
    #cbx-header .cbx-header-content h5 {
        font-size: 3.4rem;
        line-height: 5.1rem;
        line-height: 56px
    }
    #cbx-header .cbx-header-content p {
        font-size: 2.6rem;
        line-height: 3.9000000000000004rem;
        margin-bottom: 60px;
        margin-top: 150px
    }
    .cbx-regiter-common a,
    .cbx-regiter-common button {
        border: 2px solid #fff;
        padding: 13px 48px;
        text-transform: uppercase
    }
}

@media only screen and (max-width:1600px) {
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 316px
    }
    #cbx-speakers .second-hidden,
    #cbx-speakers .third-hidden {
        display: none
    }
}

@media only screen and (max-width:1280px) {
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 316px
    }
    #cbx-speakers .second-hidden,
    #cbx-speakers .third-hidden {
        display: none
    }
}

@media only screen and (max-width:1200px) {
    #cbx-header .cbx-nav-right li a {
        font-size: 1.3rem;
        line-height: 1.9500000000000002rem
    }
}

@media only screen and (max-width:992px) {
    html {
        font-size: 50%
    }
    .location-bottomcontent h2,
    .venue-bottomcontent h2 {
        border-right: none
    }
    .cbx-testimonials .quote-carousel .carousel-indicators {
        top: 202px
    }
    #cbx-header .cbx-nav-right li a {
        font-size: 1.4rem;
        line-height: 2.0999999999999996rem;
        padding: 10px 3px;
        margin: 0 2px
    }
}

@media only screen and (max-width:980px) {
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 241px
    }
    .kwicks>li.kwicks-expanded .speaker_masterimg {
        width: 40%
    }
    #cbx-header .cbx-nav-right li a {
        padding: 10px 3px;
        margin: 0 2px
    }
}

@media only screen and (max-width:800px) {
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 197px
    }
    #cbx-speakers .first-hidden,
    #cbx-speakers .second-hidden,
    #cbx-speakers .third-hidden {
        display: none
    }
    .kwicks>li.kwicks-expanded .speaker_masterimg {
        width: 40%
    }
    #cbx-header .cbx-nav-right li a {
        padding: 10px 3px;
        margin: 0 2px
    }
}

@media only screen and (max-width:768px) {
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 188px
    }
    .kwicks>li.kwicks-expanded .speaker_masterimg {
        width: 40%
    }
}

@media only screen and (max-width:767px) {
    .location-bottomcontent,
    .venue-bottomcontent,
    .xs-text-center {
        text-align: center
    }
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 150px
    }
    .kwicks>li.kwicks-expanded .speaker_masterimg {
        width: 40%
    }
    html {
        font-size: 48%
    }
    .location-bottomcontent h2,
    .venue-bottomcontent h2 {
        border-right: none
    }
    #cbx-register .cbx-single-pricing {
        margin: 0 auto 25px;
        max-width: 60%
    }
    #cbx-memorisinner .single-memoris img {
        margin: 0 auto
    }
    .cbx-selectpicker {
        margin-bottom: 20px
    }
    .cbx-testimonials .quote-carousel .carousel-indicators {
        top: 190px
    }
    #cbx-header .cbx-nav-right li a {
        font-size: 2.2rem;
        line-height: 3.3000000000000003rem;
        padding: 5px;
        display: block;
        margin: 5px
    }
    #cbx-header .cbx-nav-right li a:active,
    #cbx-header .cbx-nav-right li a:hover {
        color: #0972ba
    }
}

@media only screen and (max-width:480px) {
    #cbx-speakers .sp-single-img-area h2,
    #cbx-speakers .speaker_text ul li:last-child {
        display: none
    }
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 100px
    }
    .kwicks>li.kwicks-expanded .speaker_masterimg {
        width: 42%
    }
    #cbx-singlespeaker .cbx-inner {
        padding-bottom: 50px
    }
    #cbx-singlespeaker header {
        margin-top: 50px
    }
    .cbres-center {
        text-align: center
    }
    #cbx-speakers .speaker_text h3 {
        margin-top: 2px;
        font-size: 1.3rem;
        line-height: 1.9500000000000002rem
    }
    #cbx-speakers .speaker_text h4 {
        margin-bottom: 2px;
        font-size: 1rem;
        line-height: 1.5rem
    }
    #cbx-speakers .speaker_text ul li {
        height: 18px;
        width: 18px;
        margin-top: 5px
    }
    #cbx-speakers .speaker_text ul li i {
        font-size: 1.6rem;
        line-height: 2.4000000000000004rem;
        padding-left: 1px;
        padding-top: 1px
    }
    .cbx-heading h2 {
        margin-bottom: 20px;
        margin-top: 48px
    }
    .cbx-heading p {
        line-height: 23px;
        margin-bottom: 40px
    }
    #cbx-header .cbx-header-content h4 {
        margin-top: 27px
    }
    #cbx-header .cbx-header-content p {
        margin-top: 42px
    }
    #cbx-registerinner .cbx-form-area input,
    #cbx-registerinner .cbx-selectpicker {
        height: 38px
    }
    #cbx-registerinner .cbx-form-area textarea {
        height: 120px
    }
    #cbx-registerinner .cbx-form-area {
        margin-top: 40px
    }
    #cbx-registerinner .cbx-submit-title {
        padding-bottom: 20px
    }
    #cbx-registerinner .registerinner {
        padding-bottom: 30px
    }
    #cbx-contact .cbx-inner {
        padding-bottom: 0
    }
    #cbx-travelinfo .single-hotleinfo {
        margin-bottom: 25px
    }
    #cbx-travelinfo {
        padding-bottom: 30px
    }
    #cbx-sponsored .sponsored-heading h4 {
        padding-bottom: 0;
        padding-top: 40px;
        font-size: 150%
    }
    #cbx-sponsored .cbx-inner {
        padding-bottom: 50px
    }
    .cbx-testimonials .quote-carousel {
        margin-top: 0;
        padding: 0 10px 89px
    }
    .cbx-testimonials .quote-carousel .carousel-indicators {
        top: 240px!important
    }
    .cbx-testimonials .quote-carousel .carousel-indicators li {
        width: 30px;
        height: 30px
    }
    .cbx-testimonials .quote-carousel .carousel-indicators .active {
        width: 40px;
        height: 40px
    }
}

@media only screen and (max-width:360px) {
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 87px
    }
    .kwicks>li.kwicks-expanded .speaker_masterimg {
        width: 42%
    }
}

@media only screen and (max-width:336px) {
    .cbx-testimonials .quote-carousel .carousel-indicators {
        top: 280px!important
    }
}

@media only screen and (max-width:320px) {
    #cbx-speakers .kwicks,
    #cbx-speakers .kwicks>li {
        height: 76px
    }
    .kwicks>li.kwicks-expanded .speaker_masterimg {
        width: 42%
    }
    .cbx-testimonials .quote-carousel .carousel-indicators {
        top: 320px
    }
}

.cbx-switcher-area {
    position: fixed;
    top: 35%;
    right: 0;
    max-width: 300px;
    z-index: 891
}

.cbx-switcher-inner {
    position: relative
}

.cbx-switcher-btn {
    padding: 0 8px;
    font-weight: 700;
    background: #0972ba;
    font-size: 25px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 892
}

.cbx-switcher-btn:active,
.cbx-switcher-btn:focus,
.cbx-switcher-btn:hover {
    color: #fff
}

.cbx-switcher-body {
    background: rgba(230, 230, 230, .93);
    padding: 10px;
    width: 260px;
    position: absolute;
    top: 0;
    right: -280px
}

.cbx-switcher-list li {
    height: 30px;
    width: 30px;
    float: left;
    display: inline-block;
    margin: 10px
}

.cbx-switcher-list li a {
    width: 100%;
    height: 100%;
    display: block
}

.cbx-list-default {
    background: #0972ba
}

.cbx-list-red {
    background: #e74c3c
}

.cbx-list-green {
    background: #2ec887
}

.cbx-list-blue {
    background: #3498db
}

.cbx-list-olive {
    background: #559137
}

.cbx-list-violet {
    background: #93c
}

.cbx-list-pink {
    background: #FF69B4
}

.cbx-list-navy {
    background: #3b5998
}

.cbx-list-orange {
    background: #f5740a
}

.cbx-switcher-text {
    margin-left: 50px
}






/* #previouseditions img { */
/*     width: 100%; */
/* } */

#previouseditions figcaption {
    padding: 30px 0 0 0;
}

/* #previouseditions .carousel-inner { */
/*     height: 400px */
/* } */

/* @media (max-width:1000px) { */
/*     #previouseditions .carousel-inner { */
/* 	height: 100px */
/*     } */
/* } */


/* #previouseditions .quote-carousel .carousel-control { */
/*     margin-top: 100px; */

/* } */
@media only screen and (max-width:1920px) {
    #previouseditions {
	height: 1020px;
    }
}

@media only screen and (max-width:1280px) {
    #previouseditions {
	height: 1000px;
    }
}

@media only screen and (max-width:980px) {
    #previouseditions {
	height: 900px;
    }
}

@media only screen and (max-width:850px) {
    #previouseditions {
	height: 900px;
    }
}

@media only screen and (max-width:750px) {
    #previouseditions {
	height: 980px;
    }
}

@media only screen and (max-width:450px) {
    #previouseditions {
	height: 800px;
    }
}

@media only screen and (max-width:360px) {
    #previouseditions {
	height: 850px;
    }
}
@media only screen and (max-width:319px) {
    #previouseditions {
	height: 860px;
    }
}

@media only screen and (max-width:250px) {
    #previouseditions {
	height: 950px;
    }
}

@media only screen and (max-width:1200px) {
    #organizers-carousel {
	height: 400px
    }
}
@media only screen and (max-width:1000px) {
    #organizers-carousel {
	height: 500px
    }
}

