<!--ICPS START-->
<section id="icps">
  <div id="cbx-icps" class="cbx-register">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    01
                  </span>
                </span>
                <span class="title">ICPS</span>
              </h2>
              <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
		ICPS stands for International Conference of Physics Students and is the main event of IAPS, organized yearly by one of the IAPS national committees. The purpose of the conference is to create an opportunity for physics students from all around the world to come together, talk about science and technology, practice presenting their research and, last but not least, have a great time.
	      </p><br>
	      <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
		The week of the conference presents a mix of scientific, social and touristic programs. Students have a chance to listen to and give lectures on various topics in physics, visit the natural and architectural beauties of the country, explore the best laboratories of the host city, make friends from all over the world and get a little glimpse of their cultures.
	      </p>
            </div>
          </div> <!--//main COL-->
        </div> <!--//main row-->
      </div> <!--//container-->
    </div> <!--//cbx-inner-->
  </div>
</section> <!--ICPS END-->
