<!--EVENTLOCATION START-->
<section id="venue">
  <div id="cbx-venue" class="cbx-section cbx-memoris">
    <div class="cbx-inner">
      <div class="container">
        <div class="text-center">
          <div class="cbx-heading">
            <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
              <span class="heading-serial">
                <span class="heading-serial-inner">
                  03
                </span>
              </span>
              <span class="title">Event Location</span>
            </h2>
            <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
	      The Conference will be hosted in close collaboration with the University of Torino. Its Einaudi Campus, conveniently located within the city, offers an outstanding location to hold an event such as ICPS. A number of activities will also be held in research centres and offices nearby. For instance, we plan to offer visits of the National Institute for Metrology (INRiM), the European Space Agency, the Italian Institute of Technology and other leading research organisations close to Torino. We would also like to get local industries involved by inviting them to join the conference at a number of occasions, mostly on the Einaudi Campus, where guest lectures, student talks and posters will be held.
            </p>
          </div>
        </div> <!--//.CBX TITLE-->
      </div>
      <div id="cbx-memorisinner" class="cbx-memorisinner">
        <div class="container-fluid text-center">
          <div class="row">
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img title="Campus Einaudi, courtesy of Max Bashyrov, CC BY-NC License" src="img/campus/thumb/einaudi_MaxBashyrov_ccbync.jpg" alt="Campus Einaudi, courtesy of Max Bashyrov, CC BY-NC License"/>
                <figcaption class="cbx-figcaption">
		  <a title="Campus Einaudi, courtesy of Max Bashyrov, CC BY-NC License" href="img/campus/einaudi_MaxBashyrov_ccbync.jpg">
                    <div class="cbx-hover-link">
                      <div class="cbx-vertical">
                      </div>
                    </div>
		  </a>
                </figcaption>
              </figure>
            </div>
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/campus/thumb/einaudi4_UccioDAgostino_ccbync.jpg" alt="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" title="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" />
                <figcaption class="cbx-figcaption">
		  <a title="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" href="img/campus/einaudi4_UccioDAgostino_ccbync.jpg">
                    <div class="cbx-hover-link">
                      <div class="cbx-vertical">
                      </div>
                    </div>
		  </a>
                </figcaption>
              </figure>
            </div>
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/campus/thumb/einaudi1_UccioDAgostino_ccbync.jpg" alt="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" title="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" />
                <figcaption class="cbx-figcaption">
		  <a title="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" href="img/campus/einaudi1_UccioDAgostino_ccbync.jpg">
                    <div class="cbx-hover-link">
                      <div class="cbx-vertical">
                      </div>
                    </div>
		  </a>
                </figcaption>
              </figure>
            </div>
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/campus/thumb/einaudi3_UccioDAgostino_ccbync.jpg" alt="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" title="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" />
                <figcaption class="cbx-figcaption">
		  <a title="Campus Einaudi, courtesy of Uccio D'Agostino, CC BY-NC License" href="img/campus/einaudi3_UccioDAgostino_ccbync.jpg">
                    <div class="cbx-hover-link">
                      <div class="cbx-vertical">
                      </div>
                    </div>
		  </a>
                </figcaption>
              </figure>
            </div>
          </div>

        </div> <!--//.CONAINER-->
      </div><!--//.CBX CONTACT INNER-->
    </div>
  </div><!--//.CBX SECTION -->
</section><!--EVENTLOCATION END-->
