<!--SPONSORED START-->
<section id="sponsors">
  <div id="cbx-sponsored" class="cbx-sponsored">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    06
                  </span>
                </span>
                <span class="title">Sponsors</span>
              </h2>
              <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
                We are looking for public and private sponsorship to finance part of our event. If you are interested in sustaining us, please <a href="mailto:sponsorship@icps2017.it">send us an email</a>. 
              </p>
            </div>
          </div> <!--//main COL-->
        </div> <!--//main row-->
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <!-- <img src="http://placehold.it/258x78" alt=""/> -->
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="img/sponsors/aisf.jpg" alt="AISF logo"/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <img src="img/sponsors/iaps.png" alt="IAPS logo"/>
                </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="single-sponsored">
                  <!-- <img src="http://placehold.it/258x78" alt=""/> -->
                </div>
              </div>
            </div>
          </div> <!--//col-->
        </div> <!--//row-->
	<div id="owncloud" class="cbx-heading"><p class="wow heading-text">Information for potential partners and sponsors can be found <a href="/documents">here</a>.</p></div>
      </div> <!--//container-->
    </div> <!--//cbx-inner-->
  </div>
</section> <!--//.SPONSORED END--> 
