<!--REGISTER START-->
<section id="register">
  <div id="cbx-register" class="cbx-register">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    07
                  </span>
                </span>
                <span class="title">Register</span>
              </h2>
              <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
                Registration will open in February 2017.
		In line with previous editions, fees will be fixed to €190 for participants who will apply within two months of the opening, and €220 for those who register later. We hope to create a dedicated grant that will cover the participation fees for a number of students from developing countries.
              </p>
            </div>
          </div> <!--//main COL-->
        </div> <!--//main row-->
	
	<!-- insert new row here -->
	
      </div> <!--//container-->
    </div> <!--//cbx-inner-->
  </div>
</section> <!--REGISTER END-->
