<!--SPONSORED START-->
<section id="sponsors">
  <div id="cbx-sponsored" class="cbx-sponsored">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    07
                  </span>
                </span>
                <span class="title">Sponsors</span>
              </h2>
              <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
                We are looking for public and private sponsorship to finance part of our event. If you are interested in supporting us, please <a href="mailto:sponsorship@icps2017.it">send us an email</a>. 
              </p>
	      <div id="owncloud" class="cbx-heading"><p class="wow heading-text">Information for potential partners and sponsors can be found <a href="/documents">here</a>.</p></div>
            </div>
          </div> <!--//main COL-->
        </div> <!--//main row-->
        <!-- <div class="row"> -->
        <!--   <div class="col-xs-12"> -->
        <!--     <div class="row"> -->
        <!--       <div class="col-xs-6 col-sm-3"> -->
        <!--         <div class="single-sponsored"> -->
        <!--           <\!-- <img src="http://placehold.it/258x78" alt=""/> -\-> -->
        <!--         </div> -->
        <!--       </div> -->
        <!--       <div class="col-xs-6 col-sm-3"> -->
        <!--         <div class="single-sponsored"> -->
        <!--           <img src="img/sponsors/aisf.png" alt="AISF logo"/> -->
        <!--         </div> -->
        <!--       </div> -->
        <!--       <div class="col-xs-6 col-sm-3"> -->
        <!--         <div class="single-sponsored"> -->
        <!--           <img src="img/sponsors/iaps.png" alt="IAPS logo"/> -->
        <!--         </div> -->
        <!--       </div> -->
        <!--       <div class="col-xs-6 col-sm-3"> -->
        <!--         <div class="single-sponsored"> -->
        <!--           <\!-- <img src="http://placehold.it/258x78" alt=""/> -\-> -->
        <!--         </div> -->
        <!--       </div> -->
        <!--     </div> -->
	<!--   </div> -->
	<!-- </div> -->
	<div class="row">
	  <div class="cbx-heading" style="margin-bottom:10px; margin-top:20px"><p class="wow" style="text-align:center">Organized by:</p></div>
	  <div class="col-xs-3">
	  </div>
	  <div class="col-xs-6">
	    <img src="/img/sponsors/organized.png" alt="AISF and IAPS">
	  </div>
	  <div class="col-xs-3">
	  </div>
	</div>
	<div class="row" >
	  <div class="col-xs-12 col-sm-6">
	    <div class="cbx-heading" style="margin-bottom:10px; margin-top:20px"><p class="wow" style="text-align:center">In collaboration with:</p></div>
	    <img src="/img/sponsors/collaboration.png" alt="UNITO" style="width:100%">
	  </div>
	  <div class="col-xs-12 col-sm-6">
	    <div class="cbx-heading" style="margin-bottom:10px; margin-top:20px"><p class="wow" style="text-align:center">With the patronage of:</p></div>
	    <img src="/img/sponsors/patronage.png" alt="Aizoon, Fondazione CRT, INRIM, ILL,  CNR, ENEA, ASI, EPS, INFN, SIF" style="width:100%">
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-12">
	    <div class="cbx-heading" style="margin-bottom:10px; margin-top:40px"><p class="wow" style="text-align:center">With the support of:</p></div>
	    <img src="/img/sponsors/sponsors.png" alt="sponsors" style="width:100%">
	  </div>
	  
	</div> <!--//col-->
	<!-- </div> <\!--//row-\-> -->
      </div> <!--//container-->
    </div> <!--//cbx-inner-->
  </div>
</section> <!--//.SPONSORED END--> 
