<!--REGISTER START-->
<section id="register">
  <div id="cbx-register" class="cbx-register">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    08
                  </span>
                </span>
                <span class="title">Register</span>
              </h2>
              <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
                Early registration will open on the 5th of February 2017 <a href="/registration" style="color:white;font-weight:bold">on this page</a>.
		In line with previous editions, fees will be fixed to €190 for participants who will apply in this Early round, and €220 for those who register in the Late Registration round.
              </p>
            </div>
          </div> <!--//main COL-->
        </div> <!--//main row-->
	
	<!-- insert new row here -->
	
      </div> <!--//container-->
    </div> <!--//cbx-inner-->
  </div>
</section> <!--REGISTER END-->
