<!--MEMORIS START-->
<section id="memoris">
  <div id="cbx-memoris" class="cbx-section cbx-memoris">
    <div class="cbx-inner">
      <div class="container">
        <div class="text-center">
          <div class="cbx-heading">
            <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
              <span class="heading-serial">
                <span class="heading-serial-inner">
                  09
                </span>
              </span>
              <span class="title">Memories</span>
            </h2>
            <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
              The first ICPS was organized by students of the Eötvös Loránd University, in Budapest, Hungary in the year 1986. The event had less than fifty participants, but since then, the conference has grown considerably, nowadays bringing together more than four hundred students.
	    </p><br>

	    <p class="heading-text-p wow fadeInUp" data-wow-delay=".2s">
	      Torino will host the XXXII International Conference of Physics Students. The XXXI has been in Malta and the previous editions have been in Zagreb, Croatia, and Heidelberg, Germany. Here are some pictures of the previous editions:
            </p>
          </div>
        </div> <!--//.CBX TITLE-->
      </div>
      <div id="cbx-memorisinner" class="cbx-memorisinner">
        <div class="container-fluid text-center">
          <div class="row">
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img title="ICPS 2016, Malta" src="img/memoris/thumb/2016.jpg" alt="ICPS 2016, Malta"/>
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2016, Malta" href="img/memoris/2016.jpg">
                        ICPS 2016, Malta
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/memoris/thumb/2015.jpg" alt="ICPS 2015, Zagreb" title="ICPS 2015, Zagreb" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2015, Zagreb" href="img/memoris/2015.jpg">
                        ICPS 2015, Zagreb
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/memoris/thumb/2014.jpg" alt="ICPS 2014, Heidelberg" title="ICPS 2014, Heidelberg" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2014, Heidelberg" href="img/memoris/2014.jpg">
                        ICPS 2014, Heidelberg
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/memoris/thumb/2013.jpg" alt="ICPS 2013, Edinburgh" title="ICPS 2013, Edinburgh" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2013, Edinburgh" href="img/memoris/2013.jpg">
                        ICPS 2013, Edinburgh
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/memoris/thumb/2012.jpg" alt="ICPS 2012, Utrecht" title="ICPS 2012, Utrecht" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2012, Utrecht" href="img/memoris/2012.jpg">
                        ICPS 2012, Utrecht
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/memoris/thumb/2011.jpg" alt="ICPS 2011, Budapest" title="ICPS 2011, Budapest" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2011, Budapest" href="img/memoris/2011.jpg">
                        ICPS 2011, Budapest
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>
            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/memoris/thumb/2010.jpg" alt="ICPS 2010, Graz" title="ICPS 2010, Graz" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2010, Graz" href="img/memoris/2010.jpg">
			ICPS 2010, Graz
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>

            <div  class="cbx-view cbx-view-inner single-memoris xs-text-center">
              <figure>
                <img src="img/memoris/thumb/2009.jpg" alt="ICPS 2009, Split" title="ICPS 2009, Split" />
                <figcaption class="cbx-figcaption">
                  <div class="cbx-hover-link">
                    <div class="cbx-vertical">
                      <a title="ICPS 2009, Split" href="img/memoris/2009.jpg">
                        ICPS 2009, Split
                      </a>
                    </div>
                  </div>
                </figcaption>
              </figure>
            </div>

          </div>

        </div> <!--//.CONAINER-->
      </div><!--//.CBX CONTACT INNER-->
    </div>
  </div><!--//.CBX SECTION -->
</section><!--MEMORIS END-->
