<!--ORGANIZERS START-->
<section id="organizers">
  <div id="cbx-testimonials" class="cbx-testimonials">
    <div class="cbx-inner">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="cbx-heading">
              <h2 class="uppercase wow fadeInUp" data-wow-delay=".1s">
                <span class="heading-serial">
                  <span class="heading-serial-inner">
                    09
                  </span>
                </span>
                <span class="title">Organizers</span>
              </h2>
	      <p>Our team is composed by four Core Organizers, a Board of eight members and a number of Volunteers, whose selection is now taking place. You can find more details on the Volunteers Call <a href="/volunteers-call">here</a>.</p>
            </div>
          </div> <!--//main COL-->
        </div> <!--//main row-->
        <div class="row">
          <div class="col-md-12">
            <div class="carousel slide" data-ride="carousel" id="quote-carousel">
              <!-- Bottom Carousel Indicators -->
	      <div id="organizers-mediapad">
              <ol class="carousel-indicators cbx-carousel-indicators">
                <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="img/organizers/celon.jpg" alt="">
                </li>
                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="img/organizers/refiorentin.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="img/organizers/longo.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive" src="img/organizers/sciortino.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="4"><img class="img-responsive" src="img/organizers/erba.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="5"><img class="img-responsive" src="img/organizers/crisanti.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="6"><img class="img-responsive" src="img/organizers/pasqualetti.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="7"><img class="img-responsive" src="img/organizers/cornagliotto.jpg" alt="">
		</li>
		<li data-target="#quote-carousel" data-slide-to="8"><img class="img-responsive" src="img/organizers/milanese.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="9"><img class="img-responsive" src="img/organizers/bianchi.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="10"><img class="img-responsive" src="img/organizers/valdano.jpg" alt="">
                </li>
		<li data-target="#quote-carousel" data-slide-to="11"><img class="img-responsive" src="img/organizers/ivaldi.jpg" alt="">
                </li>
              </ol>
</div>
              <!-- Carousel Slides / Quotes -->
              <div class="carousel-inner text-center">

                <!-- Quote 1 -->
                <div class="item active">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Andrea Celon</h3>
			<small class="uppercase span-color">Chief Executive Officer</small>
                        <p>
                          <a href="mailto:andrea.celon@ai-sf.it">Andrea</a> is the President of the Organizing Committee for ICPS2017 and of the Italian Association of Physics Students. Andrea studies Physics at the University of Torino and obtained his Bachelor of Science in 2012. Currently he is enrolled in a Master Degree course in theoretical Physics. He has taken part to ICPS since 2012.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 2 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Michele Re Fiorentin</h3>
			<small class="uppercase span-color">Chief Financial Officer</small>
                        <p>
                          <a href="mailto:michele.refiorentin@ai-sf.it">Michele</a> graduated in Physics at the University of Torino and he is now studying for his PhD at the University of Southampton in the UK. His fields of interest are cosmology and astroparticle physics from a theoretical point of view.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 3 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Riccardo Longo</h3>
			<small class="uppercase span-color">Deputy CEO and Local Coordinator</small>
                        <p>
			  <a href="mailto:riccardo.longo@icps2017.it">Riccardo</a> got his BSc at Università degli Studi del Piemonte Orientale in 2012. He then moved to Università degli Studi di Torino, where he received his MSc in 2014 and he is actually working to get his PhD. Since 2012 he is member of the COMPASS Collaboration at CERN and his research activity is mostly dedicated to the analysis of the data collected by the COMPASS experiment, in particular SIDIS and polarized Drell-Yan. He is co-founder of AISF and currently he is president of the Local Committee of Torino.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 4 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Francesco Sciortino</h3>
			<small class="uppercase span-color">Chief Operative Officer</small>
                        <p>
                          <a href="mailto:francesco.sciortino@ai-sf.it">Francesco</a> studied Physics at Imperial College London before moving to the USA for a PhD at MIT. He specializes in plasma physics, with a particular interest in microturbulence, nuclear fusion and magnetic reconnection. He has previously been a member of the Executive Committee of the International Association of Physics Students (IAPS) and is a co-founder of AISF.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 5 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Vittorio Erba</h3>
			<small class="uppercase span-color">Secretary</small>
                        <p>
			  <a href="mailto:vittorio.erba@ai-sf.it">Vittorio</a> studies Physics at the University of Milan, where is currently completing his Bachelor course. He is interested in Theoretical and Mathematical Physics, topics that he is going to specialize in during his Master.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 6 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Marta Crisanti</h3>
			<small class="uppercase span-color">IAPS Relationship</small>
                        <p>
                          <a href="mailto:marta.crisanti@ai-sf.it">Marta</a> studies Physics at the University of Perugia, where she got her Bachelor with a work on Energy Harvesting, studying the behavior of non-linear systems. She is currently enrolled in a Master course. She has recently worked  at the Institue Laue-Lengevin, in Grenoble, on a project about developing new methods for single neutron counting with CMOS-like detectors.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 7 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Giulio Pasqualetti</h3>
			<small class="uppercase span-color">IT Manager</small>
                        <p>
                          <a href="mailto:giulio.pasqualetti@ai-sf.it">Giulio</a> is completing his Bachelor in Physics at the University of Pisa. His main interest is the relationship between Physics and Computation. He is a co-founder of AISF and its IT Manager. 
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 8 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Martina Cornagliotto</h3>
			<small class="uppercase span-color">Sponsorship</small>
                        <p>
                          <a href="mailto:martina.cornagliotto@icps2017.it">Martina</a> received her BSc and MSc degrees at Università degli Studi di Torino in 2012 and 2014, respectively. She is now studying for getting her PhD at the research center DESY in Hamburg. Her research activity is focused on integrable theories. In particular Non perturbative approaches to quantum field theory and conformal field theory in any dimensions.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 9 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Lucio Maria Milanese</h3>
			<small class="uppercase span-color">Editorial Board</small>
                        <p>
                          <a href="mailto:lucio.milanese@ai-sf.it">Lucio</a> completed his MSci at Imperial College London in June 2016 and he is now pursuing a PhD at MIT, undertaking research in the area of Plasma Physics. His interests outside physics encompass history, politics and economics.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 10 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Lorenzo Bianchi</h3>
			<small class="uppercase span-color">Scientific Coordinator</small>
                        <p>
                          <a href="mailto:lorenzo.bianchi@icps2017.it">Lorenzo</a> received his BSc and MSc degrees at Unversità degli Studi di Torino in 2010 and 2012, respectively. He then moved to Humboldt Universität zu Berlin, where he got his Phd in Theoretical Physics in 2015. His research activity is mostly focused on exactly solvable aspects of the AdS/CFT correspondence. He is now in Hamburg where he holds a three-year postdoc position. During his studies he attended 5 times the ICPS, from 2011 to 2015, and he is part of the Scientific Comitee for the organization of ICPS 2017.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 11 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Eugenio Valdano</h3>
			<small class="uppercase span-color">Graphics & Design</small>
                        <p>
                          <a href="mailto:eugenio.valdano@ai-sf.it">Eugenio</a> got his BSc and MSc in Torino in theoretical physics. He then moved to Université Pierre et Marie Curie in Paris where he got his PhD in 2015. His research focus is on Complex Systems, and in particular he studies the diffusion of epidemic-like models on complex networks of human and animal interactions.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		<!-- Quote 12 -->
                <div class="item">
                  <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="cbx-single-people">
			<h3>Mattia Ivaldi</h3>
			<small class="uppercase span-color">Public Relations and Social Media Manager</small>
                        <p>
                          <a href="mailto:mattia.ivaldi@ai-sf.it">Mattia</a> is completing his Bachelor Degree in Physics at the University of Torino, with an experimental thesis about the measurement of visible cross section and luminosity with van der Meer scan in ALICE experiment at CERN. Currently he’s the chair of AISF Torino Local Committee.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
		
              </div>

              <!-- Carousel Buttons Next/Prev -->
              <!-- <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a> -->
              <!-- <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> -->
            </div>
          </div>
        </div>
      </div> <!--//container-->
    </div> <!--//cbx-inner-->
  </div>
</section> <!--ORGANIZERS END-->
