    <!--AISF-IAPS START-->
    <section>
        <div id="cbx-subscriber" class="cbx-subscriber">
          <div class="cbx-testi-inner">
            <div class="container">
	      <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <h3 id="aisf" class=" wow fadeInUp" data-wow-delay=".1s">AISF</h3>
                  </div> <!--//main COL-->
                </div> <!--// row-->
                <div class="row">
                  <p class="p-footer-left">AISF is the Italian Association of Physics Students (Associazione Italiana Studenti di Fisica) and it gathers together all the Italian students of physics. It was founded in Heidelberg in August 2014 and since January 2015 is a National Committee for the International Association of Physics Students (IAPS). It counts currently 12 Local Committees and 900+ members. Numerous national and international events, such as CISF, iaps@GranSasso, LoT and PAPAP have altready been organized by AISF.</p>
                </div> <!--//ROW-->
              </div> <!--//container-->
	      
	      <div class="col-md-6">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <h3 id="iaps" class=" wow fadeInUp" data-wow-delay=".1s">IAPS</h3>
                  </div> <!--//main COL-->
                </div> <!--// row-->
                <div class="row">
                  <p class="p-footer-right">IAPS is an association of physics students and student societies from around the globe, working to promote peaceful collaboration among them. Its members are represented by national and local committees, who meet regularly to ensure the relevance of its activities. There are 16 National Committees and 20 Local Committees of IAPS, representing and estimated total of 50000 students. Beside that, there are also individual members from other countries.</p>
                </div> <!--//ROW-->
              </div> <!--//container-->
            </div> <!--//cbx-inner-->
          </div>
	</div>
    </section> <!--AISF-IAPS END-->
    
    <!-- <\!--SUBSCRIBER START-\-> -->
    <!-- <section id="subscribe"> -->
    <!--     <div id="cbx-subscriber" class="cbx-subscriber"> -->
    <!--         <div class="cbx-testi-inner"> -->
    <!--             <div class="container"> -->
    <!--                 <div class="row"> -->
    <!--                     <div class="col-xs-12 text-center"> -->
    <!--                         <h3 class=" wow fadeInUp" data-wow-delay=".1s">To Get Nearly Updates</h3> -->
    <!--                     </div> <\!--//main COL-\-> -->
    <!--                 </div> <\!--// row-\-> -->
    <!--                 <div class="row"> -->
    <!--                     <div class="col-xs-12  col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8"> -->
    <!--                         <div class="cbx-subscriber text-center"> -->
    <!--                             <form class="subscribe-form" role="form"> -->
    <!--                                 <div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".3s"> -->
    <!--                                     <input id="subscribe"  class="form-control lz-input form-control" required="required" type="email" placeholder="Enter Your Email..."> -->
    <!--                                 </div> -->
    <!--                                 <div class="form-group xs-text-center  wow zoomIn" data-wow-delay=".4s"> -->
    <!--                                     <button class="cbx-submit lz-submit-btn" name="cbx-submit" type="submit">Subscribe</button> -->
    <!--                                 </div> -->
    <!--                             </form> -->
    <!--                         </div> <\!--//.SUBSCRIBE-\-> -->
    <!--                     </div> -->
    <!--                 </div> <\!--//ROW-\-> -->
    <!--             </div> <\!--//container-\-> -->
    <!--         </div> <\!--//cbx-inner-\-> -->
    <!--     </div> -->
    <!-- </section> <\!--CONTACT END-\-> -->



    <footer>
        <div id="cbx-footer" class="cbx-footer">
            <div class="cbx-footer-inner cbx-top-inner">
                <div class="container">
                    <div class="footer-content">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 text-center">
                                <div class="footer-social wow zoomIn" data-wow-delay=".5s">
                                    <ul class="list-unstyled list-inline text-center">
                                        <li><a class="sp-fb" href="https://www.facebook.com/icps2017/"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="sp-tw" href="https://twitter.com/icps2017"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="sp-" href="https://www.instagram.com/icps2017/"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="sp-" href="https://www.youtube.com/channel/UCnyoLYSuX5_Lkxtq2EZL7ug"><i class="fa fa-youtube"></i></a></li>
					<li><a class="sp-" href="mailto:icps2017@ai-sf.it"><i class="fa fa-envelope-o"></i></a></li>
					<li><a class="sp-" href="http://telegram.me/icps2017"><i class="fa fa-telegram"></i></a></li>
                                    </ul>
                                </div>
                                <p class="cbx-copy-right uppercase wow fadeInUp" data-wow-delay=".6s">Original template: Codeboxr.com. Modified by the  <a href="mailto:postmaster@icps2017.it">ICPS2017 IT Team</a>.<br> <span class="span-color2 cbx-copy-symbol">&copy;</span> Copyright 2016. All Right Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div><!--//.CONTAINER-->
                <div class="cbx-top text-center">
                    <a href="#cbx-header" class="gotome">
                        <i class="fa fa-angle-double-up"></i>
                        <p>Top</p>
                    </a>
                </div>
            </div> <!--//.cbx-inner-->
        </div> <!--//.CBX FOOTER-->
    </footer>
