<header>
  <div id="cbx-header" class="cbx-header">

    <div class="cbx-header-inner">

      <nav id="menu-offscroll" class="navbar navbar-default cbx-navbar">
        <div class="container">
          <div class="row">

            <div class="col-sm-2">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="logo">
                  <h2><a href="/" class="gotome">ICPS<span class="span-color">2017</span></a></h2>
                </div>
              </div>
            </div> <!--//.COL 3-->

            <div class="col-sm-10">
	      <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav cbx-nav-right xs-text-center">
                  <li><a href="/#icps" class="gotome">ICPS</a></li>
                  <li><a href="/#torino" class="gotome">Torino</a></li>
                  <li><a href="/#schedule" class="gotome">Schedule</a></li>
		  <li><a href="/#speakers" class="gotome">Speakers</a></li>
                  <li><a href="/#sponsors" class="gotome">Sponsors</a></li>
                  <li><a href="http://ai-sf.it" class="gotome">AISF</a></li>
                  <li><a href="http://www.iaps.info" class="gotome">IAPS</a></li>
                </ul>
                <ul class="list-inline pull-right event-ticket">
                  <li><a href="index.html#register">Register</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div> <!--//.COl 9-->

          </div><!--//.ROW-->
        </div><!-- /.container -->
      </nav>

      {% if page.permalink=='/' %}
      {% include 0_header.html %}
      {% endif %}

    </div>
  </div> <!--//.CBX FOOTER-->
</header>
