<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "International Conference of Physics Students 2017",
  "alternateName" : "ICPS 2017",
  "startDate" : "2017-08-07",
  "endDate" : "2017-08-14",
  "description" : "The International Conference of Physics Students 2017 is hosted in Torino, Italy. It is organized by AISF, the Italian Association of Physics Students, and targets students all over the world doing a Bachelor, Master or PhD in Physics.",
  "eventStatus" : "EventScheduled",
  "url" : "http://www.icps2017.it",
  "inLanguage" : "English",
  "location" : {
    "@type" : "Place",
    "name" : "Torino",
    "address" : "Lungo Dora Siena, 100 A, 10153 Torino, Italy"
  }
}
</script>
