#cbx-testimonials #quote-carousel .carousel-indicators li{width:100px;height:100px;margin:2px;cursor:pointer;border:4px solid #CCC;border-radius:100px;opacity:.4;overflow:hidden;transition:all .4s}
#cbx-testimonials #quote-carousel .carousel-indicators li img{border-radius:100px}
#cbx-testimonials #quote-carousel .carousel-indicators .active{background:#333;border-radius:100px;border-color:#0972ba;opacity:1;overflow:hidden;height:100px;width:100px}

#cbx-header{background:url(../../img/header.jpg) center center no-repeat fixed;-webkit-background-size:cover;-o-background-size:cover;-moz-background-size:cover;background-size:cover;color:#fff}

/* #organizers-description{padding-top:12rem} */

#cbx-register{background:url(../../img/register.jpg) center center no-repeat fixed;-webkit-background-size:cover;-o-background-size:cover;-moz-background-size:cover;background-size:cover;color:#fff}

.cbx-inner{
    padding: 6rem 0;
}

.cbx-heading{
    margin-bottom: 5rem;
}

#icps div.cbx-inner{
    padding-bottom: 0;
}

#cbx-speakers div.cbx-inner{
    padding-bottom: 0;
}

#cbx-register div.cbx-inner{
    padding-bottom: 0;
}

/* #organizers div.cbx-heading{ */
/*     margin-bottom: 20rem; */
/* } */

#cbx-subscriber div.cbx-testi-inner{
    padding-top: 6rem;
}

.bigul li{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: normal;
}

.p-footer-left {
    color:white;
    text-align:center;
}

.p-footer-right {
    color:white;
    text-align:center;
}

.schedule-table-tr {
    color:white;
    font-size: 22px;
    font-weight: bold;
    padding-left: 5px;
}

.schedule-table {
    color:white;
}

.excursion-h3 {
    padding-top:20px
}

.excursions-info {
    font-size:20px;
}

@media (min-width: 1000px) {
    .p-footer-left {
        padding-right:30px;
    }
    .p-footer-right {
	padding-left:30px;
    }
}

#organizers-mediapad {
    padding-bottom:150px;
}

@media only screen and (max-width:1200px) {
    #organizers-mediapad {
	padding-bottom:290px;
    }
    .schedule-mobile-padding {
	padding-bottom:30px;
    }
}
/* @media only screen and (max-width:760px) { */
/*     #organizers-mediapad { */
/* 	padding-bottom:300px; */
/*     } */
/* } */

@media only screen and (max-width:744px) {
    #organizers-mediapad {
	padding-bottom:400px;
    }
}

@media only screen and (max-width:564px) {
    #organizers-mediapad {
	padding-bottom:620px;
    }
}
@media only screen and (max-width:430px) {
    #cbx-testimonials #quote-carousel .carousel-indicators li{width:70px;height:70px;margin:2px;cursor:pointer;border:4px solid #CCC;border-radius:70px;opacity:.4;overflow:hidden;transition:all .4s}
    #cbx-testimonials #quote-carousel .carousel-indicators li img{border-radius:70px}
    #cbx-testimonials #quote-carousel .carousel-indicators .active{background:#333;border-radius:70px;border-color:#0972ba;opacity:1;overflow:hidden;height:70px;width:70px}
    #organizers-mediapad {
	padding-bottom:300px;
    }
}
@media only screen and (max-width:415px) {
    #organizers-mediapad {
	padding-bottom:430px;
    }
}


.news-class .carousel-indicators .active {background-color:#333; border:1px solid #333}
.news-class .carousel-indicators li {border:1px solid #333}

#cbx-testimonials #news-carousel .carousel-indicators li{width:100px;height:100px;margin:2px;cursor:pointer;border:4px solid #CCC;border-radius:100px;opacity:.4;overflow:hidden;transition:all .4s}
#cbx-testimonials #news-carousel .carousel-indicators li img{border-radius:100px}
#cbx-testimonials #news-carousel .carousel-indicators .active{background:#333;border-radius:100px;border-color:#0972ba;opacity:1;overflow:hidden;height:100px;width:100px}

#news-mediapad {
    padding-bottom:150px;
}
.news-class .carousel-control {
    background-image:none;
    color:#333;
    opacity:0.9;
    padding: 10px;
}

.mybutton a {
    background: #0972ba;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all .2 ease;
    transition: all .3s linear;
    font-size: 1.7rem;
    font-style: normal;
    line-height: 2.8rem;
}

