#cbx-testimonials #quote-carousel .carousel-indicators li{width:47px;height:47px;margin:2px;cursor:pointer;border:4px solid #CCC;border-radius:47px;opacity:.4;overflow:hidden;transition:all .4s}#cbx-testimonials #quote-carousel .carousel-indicators li img{border-radius:47px}

#cbx-header{background:url(../../img/header.jpg) center center no-repeat fixed;-webkit-background-size:cover;-o-background-size:cover;-moz-background-size:cover;background-size:cover;color:#fff}

#cbx-register{background:url(../../img/register.jpg) center center no-repeat fixed;-webkit-background-size:cover;-o-background-size:cover;-moz-background-size:cover;background-size:cover;color:#fff}

.cbx-inner{
    padding: 6rem 0;
}

.cbx-heading{
    margin-bottom: 5rem;
}

#icps div.cbx-inner{
    padding-bottom: 0;
}

#cbx-speakers div.cbx-inner{
    padding-bottom: 0;
}

#cbx-register div.cbx-inner{
    padding-bottom: 0;
}

#organizers div.cbx-heading{
    margin-bottom: 10rem;
}

#cbx-subscriber div.cbx-testi-inner{
    padding-top: 6rem;
}

.bigul li{
    font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: normal;
}

.p-footer-left {
    color:white;
    text-align:center;
}

.p-footer-right {
    color:white;
    text-align:center;
}

@media (min-width: 1000px) {
    .p-footer-left {
        padding-right:30px;
    }
    .p-footer-right {
	padding-left:30px;
    }
}
