<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  
{% include head.html %}
  <body>
    <!--[if lt IE 7]>
	<p class="browsehappy">We are Extreamly sorry, But the browser you are using is probably from when civilization started. Which is way behind to view this site properly. Please update to a modern browser, At least a real browser. </p>
	<![endif]-->

    <div class="cbx-container">
      <!-- SITE CONTENT START HERE -->
      {% include nav.html %}
      {{ content }}
      {% include footer.html %}
      {% include scripts.html %}
      <!-- SITE CONTENT END -->
    </div> <!--//.CBX CONTAINER-->
  </body>
</html>
